on: push

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Lint
        run: bun run lint
  build:
    name: Build package
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: bun install --frozen-lockfile

      - name: Set File Name
        run: |
          DATE=$(date "+%Y%m%d-%H-%M")
          BASE_NAME="${GITHUB_REPOSITORY##*/}"
          FILE_NAME="${BASE_NAME}_${DATE}"
          echo "FILE_NAME=${FILE_NAME}" >> $GITHUB_ENV

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.FILE_NAME }}
          path: |
            ./
            !.git
            !node_modules
            !bun.lock
          if-no-files-found: error
