name: Upload mcpack
on:
  release:
    types: [published]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2

      - name: Install dependencies
        run: |
          bun install --frozen-lockfile

      - name: Get Pack Name
        run: |
          name=$(jq -r '.header.name' manifest.json | tr -d '"' | tr ' ' '_')
          echo "fileName=$name.mcpack" >> $GITHUB_ENV

      - name: Make Archive
        run: |
          echo "Creating archive: ${fileName}"
          zip -r "${fileName}" ./ -x "*.git*" "*node_modules*" "bun.lock" ".oxlintrc.json" "tsconfig.json" "CONTRIBUTING.md"

      - name: Upload Release Asset
        run: gh release upload ${{ github.event.release.id }} "./${{ env.fileName }}" --clobber
